[workspace]
members = [
    "polynomial",
    "bls-multi-sign-threshold-wallet", 
    "fiat_shamir", 
    "sum_check", 
    "sha256-hash-function",
    "gkr", 
    "circuits", 
    "groth16", 
    "polynomial-commitment-schemes/kzg-rust", 
    "playground", 
    "succinct-gkr",
]
exclude = [
    "circom-groth16"
]


[workspace.dependencies]
polynomial = { path = "polynomial" }
circuits = { path = "circuits" }
ark-std = "0.4.0"
rand = "0.8.5"